$griffColor: #4D4D4D;
$grayColor: rgba(0, 0, 0, 0.4);
$greenColor: #53C499;
$seaColor: #4184C5;
$errorColor: rgba(255, 0, 0, 0.6);
$redColor: #E51F3F;
$turColor: #87C4C4;
$blueColor: #4BACD0;
$azureColor: #8BC9F9;
$yellowColor: #EFB339;
$purpleColor: #B16BCB;
$lilacColor: #9EBCF6;
$darkGreyColor: rgb(157, 157, 157);