$calibri-light: 'Calibri Light';
$calibri: 'Calibri';
@mixin small-size {
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    font-size: 12px;
  }
  @media only screen and (min-width : 481px) and (max-width : 768px) {
    font-size: 13px;
  }
  @media only screen and (min-width : 769px) and (max-width : 1200px) {
    font-size: 14px;
  }
  @media only screen and (min-width : 1201px) and (max-width : 1823px) {
    font-size: 15px;
  }
  @media only screen and (min-width : 1824px) {
    font-size: 16px;
  }    
}
@mixin regular-size {
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    font-size: 12px;
  }
  @media only screen and (min-width : 481px) and (max-width : 768px) {
    font-size: 14px;
  }
  @media only screen and (min-width : 769px) and (max-width : 1200px) {
    font-size: 16px;
  }
  @media only screen and (min-width : 1201px) and (max-width : 1823px) {
    font-size: 18px;
  }
  @media only screen and (min-width : 1824px) {
    font-size: 20px;
  }    
}
@mixin title-size {
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    font-size: 14px;
  }
  @media only screen and (min-width : 481px) and (max-width : 768px) {
    font-size: 16px;
  }
  @media only screen and (min-width : 769px) and (max-width : 1200px) {
    font-size: 18px;
  }
  @media only screen and (min-width : 1201px) and (max-width : 1823px) {
    font-size: 20px;
  }
  @media only screen and (min-width : 1824px) {
    font-size: 22px;
  }    
}